body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c0cfd3;
    font-family: roboto;
    font-weight: 100;
}
.clock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    border: 1px solid white;
    border-radius: 30px;
}
.item {
    margin: 20px;
    padding: 20px;
    background-color: white;
    font-size: 40px;
    border-radius: 20px;
}
